h2 {
    font-weight: bold;
    font-size: x-large;
     
}

.image {
    display: flex;
    justify-content: center;
    cursor: pointer;
    
}

body {
  font-family: 'Noto Serif Bengali', serif;
}
.mahmud {
    display: block;
    margin-right: 20px;
}
.editorial {
    display: block;
    margin-left: 20px;

}

.flex-container {
    display: flex;
}

